<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Favorites </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemons">
      <div class="is-flex" (click)="details(pokemon.id)">
        <ion-thumbnail item-start>
        <!-- TODO: Image in storage -->
          <img/>
        </ion-thumbnail>
        <h2>{{ pokemon.name }}</h2>
      </div>
      <ion-icon
        slot="end"
        name="star"
        (click)="removeFromFavorites(pokemon.id)"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
